---
import QuienSoy from "../QuienSoy.astro";
import Section from "../Section.astro";
import Educacion from "../Educacion.astro";
import Contacto from "../Contacto.astro";
---

<Section>
  <div class="contenedor-sobreMi">
    <div class="caja-titulo">
      <h2>Sobre Mi</h2>
      <i class="bi bi-person-check"></i>
    </div>

    <div class="contenedor-info">
      <Educacion />

      <QuienSoy />
    </div>

    <Contacto />
  </div>
</Section>

<style>
  .caja-titulo {
    display: flex;
    gap: 8px;
  }

  .caja-titulo h2 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }

  .caja-titulo i {
    color: rgba(255, 255, 255, 0.9);
    margin-left: 5px;
    font-size: 30px;
  }

  .contenedor-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 30px;
  }

  @media (max-width: 768px) {
    .contenedor-info {
      gap: 15px;
    }
  }

  @media (max-width: 640px) {
    .contenedor-info {
      gap: 5px;
    }
  }

  @media (max-width: 480px) {
    .contenedor-info {
      flex-direction: column;
      gap: 25px;
      margin-bottom: 25px;
    }
  }
</style>
