---
import Globo from "../iconos/Globo.astro";
import Section from "../Section.astro";
---

<Section>
  <div class="contenedor-headline">
    <div class="caja-foto">
      <figure>
        <img src="/fotoDePerfil.jpeg" alt="foto-de-perfil" width="150px" />
      </figure>
      <div>
        <h1>Nahuel Alejandro banco</h1>
        <h3>Desarrollador Web Fullstack</h3>
      </div>
    </div>
    <div class="caja-info">
      <p>
        +2 años de experiencia utilizando tecnologías de desarrollo full stack,
        abarcando tanto el front-end como el back-end. Mi objetivo actual es
        establecerme en el sector tecnológico, poder formar parte de un equipo
        donde pueda seguir aprendiendo, aportar valor, y resolver problemas
        reales.
      </p>
      <h5>Santiago del estero, Argentina</h5>
    </div>
    <div class="caja-links">
      <a href="https://www.linkedin.com/in/nahuelbanco/" target="_blank">
        LinkedIn</a
      >
      <a href="https://github.com/Nahuel417" target="_blank">GitHub</a>
      <span>+54 3854085427</span>
      <span>Banconahuel417@gmail.com</span>
    </div>
  </div>
</Section>

<style>
  .contenedor-headline {
    display: flex;
    flex-direction: column;
  }

  .caja-info {
    display: flex;
    flex-direction: column;
  }

  .caja-foto h1 {
    font-size: 45px;
  }

  .caja-foto h3 {
    font-size: 23px;
    margin: 0 0 25px 0;
  }

  .caja-info h5 {
    margin: 10px 0;
  }

  .caja-foto {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }

  .caja-links {
    display: flex;
    justify-content: flex-start;
    margin: 30px 0;
    gap: 25px;
  }

  .caja-links a,
  .caja-links span {
    border: 1px solid white;
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    background-color: rgba(128, 128, 128, 0.2);
  }

  .caja-links a:hover,
  .caja-links span:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-20%);
    color: #23262f;
  }
</style>
