---
import CajaLinks from "../CajaLinks.astro";
import Section from "../Section.astro";
---

<Section>
  <div class="contenedor-headline">
    <div class="caja-foto">
      <figure>
        <img src="/fotoDePerfil.jpeg" alt="foto-perfil" width="100%" />
      </figure>
      <div>
        <h1>Nahuel Banco</h1>
        <h3>Desarrollador Web Fullstack</h3>
        <p>
          +2 años de experiencia utilizando tecnologías de desarrollo fullstack,
          abarcando tanto el front-end como el back-end.
        </p>
      </div>
    </div>

    <CajaLinks />
  </div>
</Section>

<style>
  .contenedor-headline {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .caja-foto {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }

  .caja-foto h1 {
    font-size: 44px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }

  .caja-foto h3 {
    position: relative;
    font-size: 21px;
    margin: 0 0 20px 0;
    top: -5px;
  }

  .caja-foto figure {
    width: 45%;
  }

  .caja-foto img {
    border-radius: 50%;
    border: 10px solid #161e2d;
  }
</style>
