---
import CajaLinks from "../CajaLinks.astro";
import Section from "../Section.astro";
---

<Section>
  <div class="contenedor-headline">
    <div class="caja-foto">
      <figure>
        <img src="/fotoDePerfil.webp" alt="foto-perfil" width="100%" />
      </figure>
      <div>
        <h1>Nahuel Banco</h1>
        <h3>Desarrollador Web <span class="texto-animado"></span></h3>
        <p>
          +2 años de experiencia en desarrollo fullstack, con enfoque versátil,
          resolviendo necesidades tanto del backend como del frontend.
        </p>
      </div>
    </div>

    <CajaLinks />
  </div>
</Section>

<style>
  .contenedor-headline {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .caja-foto {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }

  .caja-foto h1 {
    font-size: 44px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }

  .caja-foto h3 {
    position: relative;
    font-size: 21px;
    margin: 0 0 20px 0;
    top: -5px;
  }

  .texto-animado {
    position: relative;
  }

  .texto-animado::before {
    content: "";
    color: rgba(241, 113, 179, 0.9);
    animation: palabras 15s infinite;
  }

  .texto-animado::after {
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #1f2937;
    border-left: 2px solid rgba(241, 113, 179, 0.9);
    right: -8px;
    animation:
      cursor 0.8s infinite,
      escritura 15s steps(14) infinite;
  }

  @keyframes cursor {
    to {
      border-left: 2px solid #1f2937;
    }
  }

  @keyframes palabras {
    0%,
    20% {
      content: "Fullstack";
    }

    21%,
    40% {
      content: "Frontend";
    }

    41%,
    60% {
      content: "Backend";
    }

    61%,
    80% {
      content: "Fullstack";
    }

    81%,
    100% {
      content: "Frontend";
    }
  }

  @keyframes escritura {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
      width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
      width: calc(100% + 8px);
    }
  }

  .caja-foto p {
    font-weight: 600;
    color: rgba(203, 213, 225, 0.7);
  }

  .caja-foto figure {
    width: 45%;
  }

  .caja-foto img {
    border-radius: 50%;
    border: 10px solid #161e2d;
  }

  /*  MEDIA QUERIES  */
  @media (max-width: 768px) {
    .caja-foto {
      margin-bottom: 10px;
      gap: 30px;
    }

    .caja-foto figure {
      min-width: 178px;
    }
  }

  @media (max-width: 640px) {
    .caja-foto {
      flex-direction: column;
      gap: 15px;
    }

    .caja-foto figure {
      max-width: 210px;
    }

    .caja-foto div {
      text-align: center;
    }

    .caja-foto h1 {
      font-size: 40px;
    }

    .caja-foto h3 {
      font-size: 18px;
      margin: 0 0 10px 0;
    }

    .caja-foto p {
      font-size: 15px;
    }
  }

  @media (max-width: 480px) {
    .caja-foto h1 {
      font-size: 38px;
    }
  }
</style>
