---
import Section from "../Section.astro";
---

<Section>
  <div class="contenedor-proyectos">
    <h1>Proyectos <i class="bi bi-star-half"></i></h1>

    <div class="contenedor-grande-tarjetas">
      <article>
        <div class="tarjeta">
          <div>
            <img src="" alt="imagen1" />
          </div>
          <div class="caja-info">
            <h2>HandyPro</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos
              asperiores, veniam autem id ea unde quaerat explicabo inventore
            </p>
            <div class="caja-skills">
              <span> Skills</span>
              <span> Skills</span>
              <span> Skills</span>
              <span> Skills</span>
            </div>
            <div class="caja-boton-deploy">
              <a href="">Deploy</a>
            </div>
          </div>
        </div>
      </article>

      <article>
        <div class="tarjeta">
          <div>
            <img src="" alt="imagen2" />
          </div>
          <div class="caja-info">
            <h2>InnovatechShop</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
              saepe voluptatum nemo nulla. Sit, pariatur? Asperiores consequatur
            </p>
            <div class="caja-skills">
              <span> Skills</span>
              <span> Skills</span>
              <span> Skills</span>
              <span> Skills</span>
            </div>
            <div class="caja-boton-deploy">
              <a href="">Deploy</a>
            </div>
          </div>
        </div>
      </article>
    </div>

    <div class="contenedor-chico-tarjetas">
      <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article>

      <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article>

      <!-- <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article>

      <article>
        <h2>titulo</h2>
        <p>descripcion</p>
        <div class="caja-skills-2">
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
          <span> Skills</span>
        </div>
      </article> -->
    </div>
  </div>
</Section>

<style>
  .contenedor-proyectos {
    display: flex;
    flex-direction: column;
  }

  .contenedor-proyectos h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
  }

  .contenedor-proyectos i {
    color: rgba(255, 255, 255, 0.9);
  }

  .contenedor-grande-tarjetas {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }

  .contenedor-grande-tarjetas article {
    border: 1px solid;
  }

  .caja-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .caja-info h2 {
    color: rgba(255, 255, 255, 0.9);
  }

  .tarjeta {
    display: flex;
    gap: 10%;
    padding: 20px;
  }

  .contenedor-chico-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }

  .contenedor-chico-tarjetas article {
    width: 47%;
    /* margin-bottom: 25px; */
    border: 1px solid;
    padding: 30px;
    border-radius: 10px;
  }

  .contenedor-chico-tarjetas article h2 {
    color: rgba(255, 255, 255, 0.9);
  }
</style>
