---
import AboutMe from "../components/sections/AboutMe.astro";
import Proyectos from "../components/sections/Proyectos.astro";
import Educacion from "../components/sections/Educacion.astro";
import Headline from "../components/sections/Headline.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<main>
		<Headline />
		<Proyectos />
		<Educacion />
		<Skills />
		<AboutMe />
	</main>
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
