---
import SkillsBack from "./SkillsBack.astro";
import SkillsFront from "./SkillsFront.astro";
import SkillsBD from "./SkillsBD.astro";
import SkillsSoft from "./SkillsSoft.astro";
---

<article>
  <div class="caja-skills">
    <SkillsBack />
    <SkillsFront />
    <SkillsBD />
    <SkillsSoft />
  </div>
</article>

<style>
  article {
    width: 100%;
    padding: 20px 5px;
  }

  .caja-skills {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
  }

  @media (max-width: 768px) {
    article {
      padding: 0;
    }

    .caja-skills {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 480px) {
    .caja-skills {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
