<article class="caja-contacto">
  <h2>Email <i class="bi bi-envelope"></i></h2>
  <span class="email">Banconahuel417@gmail.com <i class="bi bi-copy"></i></span>
</article>

<style>
  .caja-contacto {
    border: 1px solid;
  }

  .caja-contacto h2 {
    font-size: 22px;
    color: rgba(233, 163, 200, 0.7);
  }

  .caja-contacto h2 i {
    margin-left: 5px;
    color: rgba(233, 163, 200, 0.7);
  }
</style>
