<article class="caja-contacto">
  <h2>Email <i class="bi bi-envelope"></i></h2>
  <div class="caja-input">
    <input
      type="text"
      class="email"
      value="banconahuel417@gmail.com"
      disabled
    />
    <a href=""> <i class="bi bi-copy"></i> </a>
  </div>
</article>

<style>
  .caja-contacto {
    width: 100%;
    padding: 10px;
  }

  .caja-contacto h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: rgba(241, 113, 179, 0.9);
  }

  .caja-contacto h2 i {
    margin-left: 5px;
    color: rgba(241, 113, 179, 0.9);
  }

  .caja-input {
    width: 100%;
    display: inline-flex;
    gap: 10px;
    align-items: center;
  }

  .caja-input input {
    width: 95%;
    text-align: center;
    background: #2b3544;
    padding: 8px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
  }

  .caja-input a {
    background: #6366f1;
    padding: 6px 16px;
    border-radius: 8px;
  }

  .caja-input a i {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
  }
</style>
