---
import Copiado from "./svgs/Copiado.astro";
import Copiar from "./svgs/Copiar.astro";
---

<article class="caja-contacto">
  <h2>Email <i class="bi bi-envelope"></i></h2>
  <p class="mensaje opacityCero" id="mensaje">Copiado</p>
  <div class="caja-input">
    <span class="email" id="email">Banconahuel417@gmail.com</span>
    <button type="submit" id="botonCopiar" class="mostrar">
      <Copiar />
    </button>

    <button type="submit" class="oculto" id="botonCopiado">
      <Copiado />
    </button>
  </div>

  <style>
    .caja-contacto {
      width: 100%;
      padding: 10px;
    }

    .caja-contacto h2 {
      font-size: 22px;
      margin-bottom: 8px;
      color: rgba(241, 113, 179, 0.9);
    }

    .caja-contacto h2 i {
      margin-left: 5px;
      color: rgba(241, 113, 179, 0.9);
    }

    .caja-input {
      width: 100%;
      display: inline-flex;
      gap: 10px;
      align-items: center;
    }

    .caja-input span {
      width: 95%;
      text-align: center;
      background: #2b3544;
      padding: 8px;
      border-radius: 8px;
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
    }

    .caja-input button {
      background: #6366f1;
      padding: 6px 12px;
      border-radius: 8px;
    }

    p.mensaje {
      text-align: end;
      font-size: 14px;
      margin-bottom: 4px;
      color: #6366f1;
      transition: all 0.3s ease-in-out;
    }

    .opacityCero {
      opacity: 0;
    }

    .opacityUno {
      opacity: 1;
    }

    .oculto {
      display: none;
    }

    .mostrar {
      display: block;
    }

    @media (max-width: 768px) {
      .caja-contacto {
        padding: 0;
      }
    }

    @media (max-width: 480px) {
      .caja-contacto h2 {
        margin-bottom: 0;
      }
    }
  </style>

  <script>
    const botonCopiar = document.getElementById("botonCopiar");
    const botonCopiado = document.getElementById("botonCopiado");
    const mensaje = document.getElementById("mensaje");

    botonCopiar?.addEventListener("click", (e) => {
      e.preventDefault();

      let email = document.getElementById("email");

      if (email && email.textContent) {
        navigator.clipboard.writeText(email.textContent);

        botonCopiar?.classList.remove("mostrar");
        botonCopiar?.classList.add("oculto");

        botonCopiado?.classList.remove("oculto");
        botonCopiado?.classList.add("mostrar");

        mensaje?.classList.remove("opacityCero");
        mensaje?.classList.add("opacityUno");

        setTimeout(() => {
          botonCopiar?.classList.remove("oculto");
          botonCopiar?.classList.add("mostrar");

          botonCopiado?.classList.add("oculto");
          botonCopiado?.classList.remove("mostrar");

          mensaje?.classList.remove("opacityUno");
          mensaje?.classList.add("opacityCero");
        }, 2000);
      }
    });
  </script>
</article>
