---
import Timeline from "./Timeline.astro";

const educacion = [
  {
    fecha: "Abril 2024",
    lugar: "Henry",
    titulo: "Desarrollador Web Fullstack",
  },
  {
    fecha: "Agosto 2023",
    lugar: "Digital House",
    titulo: "Desarrollador Web Fullstack",
  },
  {
    fecha: "Enero 2023",
    lugar: "Autónomo",
    titulo: "Desarrollador Web Fullstack",
  },
];
---

<article class="caja-educacion">
  <h2>Educacion <i class="bi bi-mortarboard"></i></h2>

  <Timeline educacion={educacion} />
</article>

<style>
  .caja-educacion {
    width: 40%;
    padding: 10px;
  }

  .caja-educacion h2 {
    font-size: 22px;
    color: rgba(233, 163, 200, 0.7);
  }

  .caja-educacion i {
    margin-left: 5px;
    color: rgba(233, 163, 200, 0.7);
  }

  .caja-timeline {
    width: 100%;
  }
</style>
