<div class="contenedor-nav">
  <h2>Nahuel B</h2>
  <a href="">Descarga CV</a>
</div>

<style>
  .contenedor-nav {
    position: fixed;
    top: 0%;
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: auto;
    padding: 1.25rem 1.25rem;
  }
</style>
