<div class="contenedor-nav" id="navBar">
  <div class="caja-foto">
    <img src="/fotoDePerfil.webp" alt="foto-perfil" width="40px" />
    <h2>Nahuel B</h2>
  </div>
  <a href="NAHUEL-BANCO-CV .pdf " download="CV-NAHUEL-BANCO" target="_blank">
    Descargar CV</a
  >
</div>

<style>
  .contenedor-nav {
    position: fixed;
    top: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 1.25rem;
    z-index: 20;
    transition: all 0.1s ease-in-out;
  }

  .caja-foto {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .caja-foto img {
    border-radius: 50%;
    border: 3px solid #161e2d;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  .contenedor-nav a {
    padding: 8px 16px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    background-color: rgba(35, 135, 68, 0.9);
    color: rgba(203, 213, 225, 0.8);
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }

  .contenedor-nav a:hover {
    color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 7px 7px 0px 0px #404c61;
    -moz-box-shadow: 7px 7px 0px 0px #404c61;
    box-shadow: 7px 7px 0px 0px #404c61;
  }

  .contenedor-nav h2 {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  .scroll0 {
    backdrop-filter: blur(10px);
    background-color: rgba(31, 41, 55, 0.4);
    transition: all 0.1s ease-in-out;
  }

  .scroll1 {
    backdrop-filter: blur(10px);
    background-color: rgba(31, 41, 55, 0.4);
    transition: all 0.1s ease-in-out;
  }

  .scroll1 h2,
  .scroll1 img,
  .scroll1 a {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  .deslizar-desde-arriba {
    transform: translateY(-100%);
    opacity: 0;
    animation: bajarSuavemente 0.4s ease-out forwards;
  }

  @keyframes bajarSuavemente {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media (max-width: 768px) {
    .contenedor-nav {
      padding: 1.25rem 20px;
      width: 100%;
    }
  }

  @media (max-width: 640px) {
    .contenedor-nav a {
      font-size: 12px;
    }
  }
</style>

<script>
  window.addEventListener("scroll", () => {
    const header = document.getElementById("navBar");
    const imagen = header?.querySelector("img");
    const boton = header?.querySelector("a");
    const nombre = header?.querySelector("h2");

    let scroll = window.scrollY;

    if (scroll > 0 && scroll < 300) {
      header?.classList.add("scroll0");
      header?.classList.remove("scroll1");

      imagen?.classList.remove("deslizar-desde-arriba");
      boton?.classList.remove("deslizar-desde-arriba");
      nombre?.classList.remove("deslizar-desde-arriba");
    } else if (scroll >= 300) {
      header?.classList.add("scroll1");
      header?.classList.remove("scroll0");

      imagen?.classList.add("deslizar-desde-arriba");
      boton?.classList.add("deslizar-desde-arriba");
      nombre?.classList.add("deslizar-desde-arriba");
    } else {
      header?.classList.remove("scroll0");
      header?.classList.remove("scroll1");

      imagen?.classList.remove("deslizar-desde-arriba");
      nombre?.classList.remove("deslizar-desde-arriba");
      boton?.classList.remove("deslizar-desde-arriba");
    }
  });
</script>
