<article class="caja-about">
  <h2>¿Quien soy? <i class="bi bi-person-lines-fill"></i></h2>

  <div class="caja-parrafos">
    <p>
      Me llamo Nahuel Banco. Soy un apasionado Desarrollador Web Full-Stack,
      desde que descubrí este mundo de la programación supe que era lo mío, no
      tengo preferencias ni por el back ni por el front, disfruto de ambos
      sectores.
    </p>
    <p>
      Me considero una persona muy detallista y creativa, amo las buenas
      practicas y el código limpio.
    </p>
    <p>
      Mi objetivo es establecerme en el sector tecnológico, poder formar parte
      de un equipo donde pueda aportar valor y resolver problemas reales.
    </p>
  </div>
</article>

<style>
  .caja-about {
    width: 70%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 10px;
  }

  .caja-about h2 {
    font-size: 22px;
    color: rgba(241, 113, 179, 0.9);
  }

  .caja-about h2 i {
    margin-left: 5px;
    color: rgba(241, 113, 179, 0.9);
  }

  .caja-parrafos {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    gap: 25px;
  }

  .caja-parrafos p {
    font-size: 16px;
    text-wrap: balance;
  }

  @media (max-width: 768px) {
    .caja-about {
      padding: 0;
    }

    .caja-parrafos {
      height: 100%;
    }
  }

  @media (max-width: 480px) {
    .caja-about {
      width: 100%;
      gap: 15px;
    }

    .caja-parrafos {
      gap: 15px;
    }
  }
</style>
