---
import AWS from "./svgs/AWS.astro";
import Express from "./svgs/Express.astro";
import JS from "./svgs/JS.astro";
import JWT from "./svgs/JWT.astro";
import Nest from "./svgs/Nest.astro";
import Node from "./svgs/Node.astro";
import TS from "./svgs/TS.astro";
---

<>
  <div class="caja-svg">
    <TS />
    <p>TypeScript</p>
  </div>
  <div class="caja-svg">
    <JS />
    <p>JavaScript</p>
  </div>
  <div class="caja-svg">
    <Node />
    <p>Node.js</p>
  </div>
  <div class="caja-svg">
    <Nest />
    <p>NestJS</p>
  </div>
  <div class="caja-svg">
    <Express />
    <p>Express</p>
  </div>
  <div class="caja-svg">
    <JWT />
    <p>JWT</p>
  </div>
  <div class="caja-svg">
    <AWS />
    <p>AWS S3</p>
  </div>
</>

<style>
  .caja-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    gap: 8px;
  }
</style>
