---
import MySQL from "./svgs/MySQL.astro";
import Postgres from "./svgs/Postgres.astro";
import TypeORM from "./svgs/TypeORM.astro";
import Mongo from "./svgs/Mongo.astro";
---

<>
  <div class="caja-svg">
    <Postgres />
    <p>Postgres</p>
  </div>
  <div class="caja-svg">
    <MySQL />
    <p>MySQL</p>
  </div>
  <div class="caja-svg">
    <TypeORM />
    <p>TypeORM</p>
  </div>
  <div class="caja-svg">
    <Mongo />
    <p>MongoDB</p>
  </div>
</>

<style>
  .caja-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    gap: 8px;
    cursor: default;
    transition: all 0.2s;
  }

  @media (min-width: 769px) {
    .caja-svg:hover {
      transform: translateY(-10px);
    }
  }
</style>
