---
import Bootstrap from "./svgs/Bootstrap.astro";
import React from "./svgs/React.astro";
import Tailwind from "./svgs/Tailwind.astro";
import NextJS from "./svgs/NextJS.astro";
import Html from "./svgs/Html.astro";
import CSS from "./svgs/CSS.astro";
import AstroSvg from "./svgs/AstroSvg.astro";
---

<>
  <div class="caja-svg">
    <React />
    <p>React</p>
  </div>
  <div class="caja-svg">
    <Bootstrap />
    <p>Bootstrap</p>
  </div>
  <div class="caja-svg">
    <Tailwind />
    <p>Tailwind</p>
  </div>
  <div class="caja-svg">
    <NextJS />
    <p>NextJS</p>
  </div>
  <div class="caja-svg">
    <Html />
    <p>HTML5</p>
  </div>
  <div class="caja-svg">
    <CSS />
    <p>CSS</p>
  </div>
  <div class="caja-svg">
    <AstroSvg />
    <p>Astro</p>
  </div>
</>

<style>
  .caja-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    gap: 8px;
  }
</style>
