---
import Git from "./svgs/Git.astro";
import Docker from "./svgs/Docker.astro";
import Redux from "./svgs/Redux.astro";
---

<>
  <div class="caja-svg">
    <Git />
    <p>Git</p>
  </div>
  <div class="caja-svg">
    <Docker />
    <p>Docker</p>
  </div>
  <div class="caja-svg">
    <Redux />
    <p>Redux</p>
  </div>
</>

<style>
  .caja-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    gap: 8px;
    cursor: default;
    transition: all 0.2s;
  }

  @media (min-width: 769px) {
    .caja-svg:hover {
      transform: translateY(-10px);
    }
  }
</style>
